@charset "utf-8";
/* CSS Document */

.hidden
{
	display: none;
}

body {
	background-color: #161616;
}

.logoName {
	font-size: 30px;
	font-family: Arial, helvetica, sans-serif;
	color: white;
	margin: 20px;
	margin-left: 200px;
}

#mainHeader {
	display: flex;
	flex-direction: row;
}

#mainNav {
	margin-left: auto;
	margin-right: 200px;
	margin-top: 20px;
}

#mainNav ul{
	display: flex;
	flex-direction: row;
	margin-right: 10px;
	margin-top: 10px;
}

#mainNav li a {
	margin: 5px;
	padding: 5px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

#mainNav li a:hover {
	background-color: maroon;
}

.stage {
	width: 800px;
	height: 526px;
	margin-top: 22.5px;
	border-radius: 10px;
	border: 3px solid #D1A900;
	background-image: url('../images/puppet-stage.svg')
}

#musicIcons {
	background-color: #efefef;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 20px;
	width:806px;

}

#musicIcons img {
	width: 120px;
}

#content {
	margin: 0 auto;
	width: 800px;
}
